<svg
  viewBox="0 0 24 24"
  viewBox="0 0 24 24"
  class={Astro.props.class}
  xmlns="http://www.w3.org/2000/svg"
  fill="#000000"
  >
  <title>Instagram</title>
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
    <defs>
      <style>
        .cls-1 {
          fill: none;
          stroke: #0033A0;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 1.5px;
        }
      </style>
    </defs>
    <g id="ic-social-instagram">
      <rect class="cls-1" x="3" y="3" width="18" height="18" rx="6"></rect>
      <circle class="cls-1" cx="12" cy="12" r="4"></circle>
      <circle cx="17" cy="6.89" r="1"></circle>
    </g>
  </g></svg
>
