---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSvg from "../svg/HeroSvg.astro";
import SavingsSvg from "../svg/SavingsSvg.astro";
import IconWhatsapp from "../icons/IconWhatsapp.astro";
import IconPhone from "../icons/IconPhone.astro";
import IconMail from "../icons/IconMail.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import IconPig from "../icons/IconPig.astro";
import IconCheck from "../icons/IconCheck.astro";
import Section from "../components/Section.astro";
import LinkSection from "../components/LinkSection.astro";
import TitleSection from "../components/TitleSection.astro";
import { seguros } from "../Js/seguros";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="DAFA - Asesores de Seguros">
  <Header />
  <main>
    <section
      class="flex justify-center w-full h-full p-24 max-sm:py-10 max-sm:px-4"
    >
      <div
        class="w-full max-w-[1440px] grid gap-2 grid-cols-auto-hero justify-center items-center"
      >
        <header class="place-self-center">
          <h2
            class="text-6xl max-lg:text-5xl max-sm:text-[38px] text-blue-900 mb-6 font-semibold"
          >
            Elegí estar seguro
          </h2>
          <p
            class="w-full text-[21px] max-lg:text-lg max-w-[60ch] mb-6 max-sm:w-[32ch]"
          >
            Somos <span class="font-semibold text-blue-800"
              >Productores Asesores de Seguros</span
            > con mas de 25 años de experiencia en el rubro. Trabajamos con las mejores
            compañias aseguradoras del mercado.
          </p>
          <a
            class="bg-blue-800 hover:bg-blue-900 transition-colors text-lg mr-1 font-medium tracking-wide rounded-md text-white px-10 py-[10px] max-lg:text-base max-lg:px-8 max-lg:py-2"
            href="#service">Contactanos</a
          >
        </header>
        <footer class="place-self-center">
          <figure class="flex w-full justify-center">
            <HeroSvg
              class="2xl:w-[600px] xl:w-[500px] lg:w-[480px] w-[500px] max-sm:w-[350px]"
            />
          </figure>
        </footer>
      </div>
    </section>

    <Section id="insurance">
      <header class="w-full">
        <TitleSection title="Conoce nuestro Seguros" />

        <LinkSection title="Personas" />
      </header>
      <footer
        class="w-full grid gap-10 max-sm:gap-5 justify-between grid-cols-auto-fit text-center text-2xl"
      >
        {
          seguros.map(({ id, title, icon, alt }) => {
            return (
              <Card
                class="hover:scale-105 hover:shadow-blue-700/30 transition-transform"
                id={id}
                title={title}
                icon={icon}
                alt={alt}
                loading="lazy"
              />
            );
          })
        }
      </footer>
    </Section>

    <Section id="service">
      <header class="w-full">
        <TitleSection title="Servicio de Asistencia" />
      </header>
      <footer
        class="w-full grid gap-10 justify-between grid-cols-auto-contact text-center text-2xl"
      >
        <div
          class="flex gap-6 flex-col p-8 max-sm:px-4 h-full rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <div>
            <h4
              class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
            >
              Contactate con nosostros las 24hs, los 365 dias de año.
            </h4>
            <span class="flex mb-3 gap-1 items-center text-xl"
              ><IconPhone class="w-8" />- <a
                class="text-blue-900"
                href="tel:+5467024116">11 6702-4116</a
              > | <a class="text-blue-900" href="tel:+5422776024"
                >11 2277-6024</a
              >
            </span>
            <a
              target="_blank"
              class="flex mb-3 gap-1 items-center text-xl"
              href="https://wa.me/541167024116"
              ><IconWhatsapp class="w-8" />- +54 9 11 6702-4116</a
            >
            <a
              target="_blank"
              class="flex gap-1 items-center text-xl"
              href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWstwMztBWdHknFfZtLbZNtsxQrfckhHzSLkgWvtkfJGvZTSPtCqMHnpmVTFFpWHSFLXZRwfG"
              ><IconMail class="w-8" />
              - dafaseguros@gmail.com</a
            >
          </div>

          <div>
            <h4
              class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
            >
              Seguinos en nuestras redes sociales para mantenerte informado.
            </h4>
            <a
              target="_blank"
              class="flex mb-3 gap-1 items-center text-xl"
              href="https://www.facebook.com/danielfarajseguros/"
              ><IconFacebook class="w-8" />- Facebook</a
            >
            <a
              target="_blank"
              class="flex gap-1 items-center text-xl"
              href="https://www.instagram.com/dafa_seguros/"
              ><IconInstagram class="w-8" />
              - Instagram
            </a>
          </div>
        </div>

        <div
          class="flex p-8 max-sm:px-4 h-full flex-col rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <h4
            class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
          >
            Oficina: FIC, Gral. Arredondo 3508, B1872 Sarandí, Provincia de
            Buenos Aires
          </h4>
          <iframe
            title="Ubicación de la Oficina"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.5142886874596!2d-58.34963140000001!3d-34.6922062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a332de100148f7%3A0x29c71fcde2d42d6e!2sFIC%2C%20Gral.%20Arredondo%203508%2C%20B1872%20Sarand%C3%AD%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1714007397809!5m2!1sen!2sar"
            width="100%"
            height="300"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </footer>
    </Section>

    <Section id="payment">
      <header class="w-full">
        <TitleSection title="Metodos de Pago" />
      </header>
      <footer
        class="w-full grid gap-10 py-12 justify-between grid-cols-auto-pagos text-center text-2xl"
      >
        <picture class="flex w-full justify-center">
          <SavingsSvg class="w-96 max-sm:w-[280px]" />
        </picture>
        <div
          class="flex h-full flex-col p-8 max-sm:px-4 rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <header class="flex gap-2 justify-center items-center">
            <IconPig class="w-12 h-12 max-sm:w-10 max-sm:h-10" />
            <span
              class="text-3xl max-sm:w-[12ch] max-sm:text-[26px] leading-normal text-blue-700 font-semibold text-pretty mb-2"
              >Ahorrá hasta un 30%</span
            >
          </header>
          <footer class="max-sm:text-[22px]">
            <p class="mb-4">con tu nueva póliza y sumá más beneficios.</p>
            <div class="w-full text-start">
              <p class="mb-4 font-medium">
                Abona con tu metodo pago de preferencia.
              </p>
              <ul class="text-2xl max-sm:text-[22px]">
                <li class="flex gap-2 mb-3">
                  <IconCheck class="w-7" />Atención personalizada
                </li>
                <li class="flex gap-2 mb-3">
                  <IconCheck class="w-7" />Tarjetas (Credito | Debito)
                </li>
                <li class="flex gap-2 mb-3">
                  <IconCheck class="w-7" />Transferencias Bancarias
                </li>
                <li class="flex gap-2 mb-3">
                  <IconCheck class="w-7" />Mercado Pago
                </li>
                <li class="flex gap-2 mb-3">
                  <IconCheck class="w-7" />Efectivo
                </li>
              </ul>
            </div>
          </footer>
        </div>
      </footer>
    </Section>

    <Footer />

    <a
      href="https://wa.me/541167024116"
      target="_blank"
      class="w-12 h-12 fixed right-6 bottom-10"
    >
      <IconWhatsapp class="w-12 h-12 transition-transform hover:scale-105" />
    </a>
  </main>
</Layout>
