---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSvg from "../svg/HeroSvg.astro";
import IconWhatsapp from "../icons/IconWhatsapp.astro";
import IconAuto from "../icons/IconAuto.astro";
import IconHogar from "../icons/IconHogar.astro";
import IconMoto from "../icons/IconMoto.astro";
import IconVida from "../icons/IconVida.astro";
import IconTrabajo from "../icons/IconTrabajo.astro";
import IconBicicleta from "../icons/IconBicicleta.astro";
import IconPyme from "../icons/IconPyme.astro";
import IconAccidente from "../icons/IconAccidente.astro";
import IconPhone from "../icons/IconPhone.astro";
import IconMail from "../icons/IconMail.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
---

<Layout title="DF - Asesores de Seguros">
  <header class="flex justify-center w-full h-full py-6 px-24">
    <div class="w-full max-w-[1440px] flex justify-between items-center">
      <figure>
        <a href="/">
          <h1 class="text-2xl font-semibold text-blue-800">
            DF - Asesores de Seguros
          </h1>
        </a>
      </figure>
      <nav class="text-lg">
        <ul class="flex text-black/80 font-medium gap-10">
          <li>
            <a href="/">Personas</a>
          </li>
          <li>
            <a href="/">Empresas y Profesionales</a>
          </li>
          <!-- <li>
            <a href="/">Oficinas</a>
          </li> -->
          <li>
            <a href="/">Transporte de Pasajeros</a>
          </li>
          <li>
            <a href="/">Institucional</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="flex justify-center w-full h-full p-24">
      <div class="w-full max-w-[1440px] grid grid-cols-auto-hero items-center">
        <header class="place-self-center">
          <h2 class="text-6xl text-blue-900 mb-6 font-semibold">
            Elegí estar seguro
          </h2>
          <p class="text-[21px] w-[60ch] mb-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            incidunt exercitationem quae illum tenetur quam assumenda iure
            doloribus molestias dicta.
          </p>
          <a
            class="bg-blue-800 text-lg mr-1 font-medium tracking-wide rounded-md text-white px-10 py-[10px]"
            href="/">Contactanos</a
          >
          <!-- <a
            class="bg-blue-800 text-lg tracking-wide rounded-md text-white px-12 py-[9px]"
            href="/">Button</a
          > -->
        </header>
        <footer class="place-self-center">
          <figure class="flex w-[540px] justify-center">
            <HeroSvg class="w-[540px]" />
          </figure>
        </footer>
      </div>
    </section>

    <section class="flex justify-center w-full h-full px-24 py-16">
      <div
        class="w-full max-w-[1440px] flex flex-col justify-evenly items-center"
      >
        <header class="w-full">
          <h3 class="text-start font-medium text-4xl opacity-90 mb-3">
            Conoce nuestro Seguros
          </h3>
          <span
            class="text-lg inline-block mb-12 py-1 px-5 tracking-wide rounded-full font-medium bg-blue-800 text-white"
            >Personas</span
          >
        </header>
        <footer
          class="w-full grid gap-10 justify-between grid-cols-auto-fit text-center text-2xl"
        >
          <Card content="Automotores" href="/">
            <IconAuto />
          </Card>
          <Card content="Motos" href="/">
            <IconMoto />
          </Card>
          <Card content="Bicicletas" href="/">
            <IconBicicleta />
          </Card>
          <Card content="Hogar" href="/">
            <IconHogar />
          </Card>
          <Card content="Accidentes" href="/">
            <IconAccidente />
          </Card>
          <Card content="Vida" href="/">
            <IconVida />
          </Card>
        </footer>
      </div>
    </section>

    <section class="flex justify-center w-full h-full px-24 py-16">
      <div
        class="w-full max-w-[1440px] flex flex-col justify-evenly items-center"
      >
        <header class="w-full">
          <h3 class="text-start font-medium text-4xl mb-12 opacity-90">
            Servicio de Asistencia
          </h3>
        </header>
        <footer
          class="w-full grid py-12 gap-10 justify-between grid-cols-auto-contact text-center text-2xl"
        >
          <div
            class="flex gap-6 flex-col p-8 h-full rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
          >
            <div>
              <h4 class="mb-4 text-2xl text-start font-semibold text-blue-900">
                Contactate con nosostros las 24hs, los 365 dias de año.
              </h4>
              <a class="flex mb-2 gap-1 items-center text-xl" href="/"
                ><IconPhone class="w-8" />- 0-810-999-3200</a
              >
              <a class="flex mb-2 gap-1 items-center text-xl" href="/"
                ><IconWhatsapp class="w-8" />- +54 9 11 3765-0687</a
              >
              <a class="flex gap-1 items-center text-xl" href="/"
                ><IconMail class="w-8" />
                - info@segurosrivadavia.com</a
              >
            </div>

            <div>
              <h4 class="mb-4 text-2xl text-start font-semibold text-blue-900">
                Seguinos en nuestras redes sociales para mantenerte informado.
              </h4>
              <a class="flex mb-2 gap-1 items-center text-xl" href="/"
                ><IconFacebook class="w-8" />- Facebook</a
              >
              <a class="flex gap-1 items-center text-xl" href="/"
                ><IconInstagram class="w-8" />
                - Instagram</a
              >
            </div>
          </div>

          <div
            class="flex p-8 h-full flex-col rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
          >
            <h4 class="mb-4 text-2xl text-start font-semibold text-blue-900">
              Ubicación: Blvd. Olimpico Jose Benjamin Zubiaur 4385, Buenos Aires
            </h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13124.673232220037!2d-58.4542305!3d-34.6757014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb1bc837b8a7%3A0x327c7c69ca37fa13!2sEdificio%2020!5e0!3m2!1sen!2sar!4v1711128214642!5m2!1sen!2sar"
              width="100%"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </footer>
      </div>
    </section>

    <section class="flex justify-center w-full h-full px-24 py-16">
      <div
        class="w-full max-w-[1440px] flex flex-col justify-evenly items-center"
      >
        <header class="w-full">
          <h3 class="text-start font-medium text-4xl mb-12 opacity-90">
            Metodos de Pago
          </h3>
        </header>
        <footer
          class="w-full grid gap-10 py-12 justify-between grid-cols-auto-pagos text-center text-2xl bg-white/60 rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)]"
        >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-pagofacil.webp"
              alt=""
            /></a
          >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-rapipago.webp"
              alt=""
            /></a
          >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-pagofacil.webp"
              alt=""
            /></a
          >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-rapipago.webp"
              alt=""
            /></a
          >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-pagofacil.webp"
              alt=""
            /></a
          >
          <a class="flex justify-center items-center" href="/"
            ><img
              class="w-36 object-contain aspect-video"
              src="../img/logo-rapipago.webp"
              alt=""
            /></a
          >
        </footer>
      </div>
    </section>

    <a href="/" class="w-14 h-14 fixed right-6 bottom-10">
      <IconWhatsapp class="w-14 h-14" />
    </a>
  </main>
</Layout>
