---
import IconArrow from "../icons/IconArrow.astro";

const {content} = Astro.props;
---
<li class="flex items-center">
    <IconArrow class="w-7"/> <span class="leading-normal">{content}</span> 
</li>