---
const { description, title } = Astro.props;
import Benefits from "./Benefits.astro";

import { seguros } from "../Js/seguros";
const { seguro } = Astro.params;
const info = seguros.find((p) => p.id === seguro);
const beneficios = info.benefits;
---

<h1 class="font-medium text-[28px] text-blue-800">
  Seguro de {title}
</h1>
<p class="font-medium text-xl max-sm:text-[19px]">
  {description}
</p>

<ul class="text-lg flex flex-col gap-1 mb-1">
  {
    seguros.map(({ title, benefits }) => {
      if (title === info.title) {
        return benefits.map((benefit) => {
          return <Benefits content={benefit} />;
        });
      }
    })
  }
</ul>
<div>
  <a
    class="bg-blue-800 shadow-[0_8px_30px_rgb(0,0,0,0.12)] hover:bg-blue-900 transition-colors text-lg mr-1 font-medium tracking-wide rounded-md text-white px-6 py-[7px] max-lg:text-base max-lg:px-8 max-lg:py-2"
    href="#contact">Contactanos</a
  >
  <a
    class="bg-white/75 shadow-[0_8px_30px_rgb(0,0,0,0.12)] hover:bg-gray-50 transition-colors text-lg mr-1 font-medium tracking-wide rounded-md text-blue-800 px-6 py-[7px] max-lg:text-base max-lg:px-8 max-lg:py-2"
    href="/">Volver</a
  >
</div>
