---
import IconPhone from "../icons/IconPhone.astro";
import IconMail from "../icons/IconMail.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import DafaSSN from "../../public/img/DafaSSN.png";
import LogoDafa from "../../public/img/DafaLogo.png";
import { Image } from "astro:assets";
---

<footer
  class="flex justify-center w-full h-full px-24 py-10 max-sm:px-4 shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60 rounded-tr-[30px] rounded-tl-[30px]"
>
  <div class="w-full max-w-[1440px] flex flex-col justify-evenly items-center">
    <div
      class="w-full grid gap-10 py-12 justify-between grid-cols-auto-footer text-center text-2xl"
    >
      <figure class="flex flex-col">
        <a class="mb-4" href="/">
          <h1 class="text-[26px] text-start font-semibold text-blue-800">
            DAFA - Asesores de Seguros
          </h1>
        </a>
        <footer class="flex">
          <Image
            src={LogoDafa}
            alt="Logo DAFA Seguros"
            class="w-28 max-lg:w-20 object-contain aspect-video mr-3"
          />
          <p class="text-lg text-start text-pretty">
            Somos Productores Asesores de Seguros con mas de 25 años de
            experiencia en el rubro.
          </p>
        </footer>
      </figure>

      <div class="flex flex-col">
        <header class="text-start mb-4 text-blue-900">
          <span class="font-semibold">Institucional</span>
        </header>
        <footer class="flex flex-col gap-2">
          <p class="text-lg text-start text-pretty">
            Trabajamos con las mejores compañias aseguradoras del mercado.
            Productores Asesores de Compañías Líderes.
          </p>
          <Image
            src={DafaSSN}
            alt="Dafa SSN"
            class="w-64 h-12 object-cover aspect-video mr-3"
          />
        </footer>
      </div>

      <div class="flex flex-col">
        <header class="text-start mb-4">
          <span class="font-semibold text-blue-900">Contactanos</span>
        </header>
        <footer class="flex flex-col">
          <div class="flex flex-wrap items-center gap-3 mb-3">
            <a
              target="_blank"
              href="https://www.facebook.com/danielfarajseguros/"
              ><IconFacebook class="w-8" /></a
            >
            <a target="_blank" href="https://www.instagram.com/dafa_seguros/"
              ><IconInstagram class="w-8" /></a
            >
            <a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWstwMztBWdHknFfZtLbZNtsxQrfckhHzSLkgWvtkfJGvZTSPtCqMHnpmVTFFpWHSFLXZRwfG">
              <IconMail class="w-8" /></a
            >
            <IconPhone class="w-8" />
            <div>
              <a class="text-blue-900 text-xl" href="tel:+5467024116"
                >11 6702-4116</a
              >
              <span class="text-lg">|</span><a
                class="text-blue-900 text-xl"
                href="tel:+5422776024"> 11 2277-6024</a
              >
            </div>
          </div>
          <div class="flex items-center leading-normal gap-1">
            <span class="text-lg text-start">
              <span class="text-blue-900 font-medium">Oficina Central:</span> BFIC,
              Gral. Arredondo 3508, B1872 Sarandí, Provincia de Buenos Aires
            </span>
          </div>
        </footer>
      </div>
    </div>
  </div>
</footer>
