---
import IconMenu from "../icons/IconMenu.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import LinkHeader from "./LinkHeader.astro";
---
<header class="flex justify-center w-full h-full py-6 px-24 max-sm:px-4">
    <div
      class="w-full max-w-[1440px] flex justify-between items-center max-xl:hidden"
    >
      <figure>
        <a href="/">
          <h1 class="text-[26px] xl:text-[22px] font-semibold text-blue-800">
            DAFA - Asesores de Seguros
          </h1>
        </a>
      </figure>
      <nav class="text-lg xl:text-[17px]">
        <ul class="flex text-black/80 font-medium gap-4 xl:gap-2">
          <LinkHeader href="/" link="Personas"/>
          <LinkHeader href="/" link="Empresas y Profesionales"/>
          <LinkHeader href="/" link="Transporte de Pasajeros"/>
          <LinkHeader href="/" link="Institucional"/>
        </ul>
      </nav>
    </div>

    <div
      class="w-full max-w-[1440px] flex justify-between items-center xl:hidden"
    >
      <h1 class="text-blue-800 text-xl z-50 font-semibold">Dafa-Icon</h1>
      <figure class="w-10 z-40">
        <IconMenu id="menu" class="w-10" />
      </figure>
      <div
        id="menuNesting"
        class="bg-blue-50 gap-10 text-lg flex flex-col pt-24 pl-8 top-0 right-0 translate-x-[100%] transition-transform fixed z-20 w-full h-screen text-black/80 font-medium"
      >
        <a href="/normal/">Personas</a>

        <a href="/">Empresas y Profesionales</a>

        <a href="/">Transporte de Pasajeros</a>

        <a href="/">Institucional</a>
        <div class="flex gap-4 items-center justify-start">
          <a class="flex gap-1 items-center text-lg" href="/"
          ><IconFacebook class="w-7" />Facebook</a
        >
        <a class="flex gap-1 items-center text-lg" href="/"
          ><IconInstagram class="w-7" />
          Instagram
        </a>
        </div>
      
      </div>
    </div>
  </header>