---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somos Productores Asesores de Seguros con mas de 25 años de experiencia en el rubro. Trabajamos con las mejores compañias aseguradoras del mercado."
    />
    <meta name="application-name" content="DAFA Seguros, Pagina Web" />
    <meta name="author" content="German Andres Ferreyra | Sebastián Perez" />
    <meta name="creator" content="German Andres Ferreyra | Sebastián Perez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="category" content="Productores Asesores de Seguros" />
    <meta
      name="keywords"
      content="Asesoria de Seguros, Seguros de Vida, Seguros de Trabajo, DAFA Seguros, Mejores Compañias, Seguro de Automóviles, Seguro de Incendios, Combinados Familiar, Buenos Aires, Argentina"
    />
    
    <meta property="og:title" content="DAFA Seguros" />
    <meta
      property="og:description"
      content="DAFA Seguros - Productores Asesores de Seguros"
    />
    <meta property="og:url" content="https://dafasesoresdeseguros.com.ar/" />
    <meta
      property="og:site_name"
      content="DAFA Seguros - Asesores de Seguros"
    />
    <meta property="og:image" content="/img/DafaWeb.jpg" />
    <link rel="image_src" href="/img/DafaWeb.jpg">
    <link rel="icon" type="image/jpg" href="/img/DafaLogo.png"/>
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body id="body" class="bg-blue-50">
    <slot />
    <script is:inline>
      function init() {
        const menuMobile = document.querySelector("#menu");
        const menuNesting = document.querySelector("#menuNesting");
        const body = document.querySelector("#body");
        const links = document.querySelectorAll(".links");

        // Rest of script...
        menuMobile.addEventListener("click", () => {
          menuNesting.classList.toggle("translate-x-[100%]");
          body.classList.toggle("overflow-hidden")
        });

        links.forEach((link => {
          link.addEventListener("click", () => {
            body.classList.toggle("overflow-hidden")
            menuNesting.classList.add("translate-x-[100%]");
          })
        } )
        );

        // Clean up by destroying instances and removing event listeners
        document.addEventListener(
          "astro:before-swap",
          () => {
            // SomeClass.destroy()
            // document.removeEventListener(...)
          },
          { once: true }
        );
      }

      // Initialize on first load
      init();

      // Re-initialize after swapping pages
      document.addEventListener("astro:after-swap", init);
    </script>

    <style is:global>
      html {
        scroll-behavior: smooth;
        scrollbar-gutter: stable;
        color-scheme: light;
      }
    </style>
  </body>
</html>
