---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-blue-50">
    <slot />
    <script is:inline>
      function init() {
        const menuMobile = document.querySelector("#menu");
        const menuNesting = document.querySelector("#menuNesting");

        // Rest of script...
        menuMobile.addEventListener("click", () => {
          menuNesting.classList.toggle("translate-x-[100%]");
        });

        // Clean up by destroying instances and removing event listeners
        document.addEventListener(
          "astro:before-swap",
          () => {
            // SomeClass.destroy()
            // document.removeEventListener(...)
          },
          { once: true }
        );
      }

      // Initialize on first load
      init();

      // Re-initialize after swapping pages
      document.addEventListener("astro:after-swap", init);
    </script>

    <style is:global>
      html {
        scroll-behavior: smooth;
        scrollbar-gutter: stable;
        color-scheme: light;
      }
    </style>
  </body>
</html>
